article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    font-family: din-2014, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#wrapper {
    max-width: 900px;
    margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/
header {
    height: auto;
    font-family: liberation-serif, serif;
    font-weight: 400;
    font-style: normal;
}

#header-flex {
    display: flex;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2.5%;
}

#h1-box {
    width: 90%;
}

h1 img {
    width: 60%;
}

#lan-box {
    display: flex;
    border: 2px solid black;
}

#lan-box p {
    padding-right: 5%;
    padding-left: 5%;
}

#small-logo {
    width: 40%;
}
header h3 {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Middle
-----------------------------------------------------------------------------*/
main {
    margin-left: auto;
    margin-right: auto;
}
main h2 {
    
}

#week-number{
    display: flex;
}

.arrows{
    max-width: 30px;
}

.input {
    max-width: 188px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
}

#fname {}

#school {}

#class {}

#subject {}

.days {
    margin-top: 50px;
}
.days a {
    text-decoration: none;
    color: #20141C;
}
.days a div {
    margin: 0 auto;
    border: 1px solid;
    margin-bottom: 2%;
    width: 60%;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    max-width: 220px;
}
.days h2 {
    text-align: center;
    font-size: 1.2em;
}
.days a div p {
    font-size: 1.2em;
}



/* Footer
-----------------------------------------------------------------------------*/
footer {
    
    height: auto;
    background: #5CABAC;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

a #link {
    color: #F0F0F1;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    padding: 2%;
}

#weblink {

    justify-content: center;
    justify-content: center;
    padding-bottom: 5%;

}

/* Devices___________________________________________________________________*/

@media only screen and (min-width: 1000px) {
    header {
        background-color: ;
    }
}
