article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    font: 12px/18px Arial, sans-serif;
}

#wrapper {
    max-width: 900px;
    margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/
header {
    height: auto;
}

#header-flex {
    display: flex;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2.5%;
}

#h1-box {
    width: 90%;
}

h1 img {
    width: 60%;
}

#lan-box {
    display: flex;
    border: 2px solid black;
}

#lan-box p {
    padding-right: 5%;
    padding-left: 5%;
}



/* Middle
-----------------------------------------------------------------------------*/
main {
    margin-left: auto;
    margin-right: auto;
}

.input {
    max-width: 188px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
}

#fname {
 
}

#school {
    
  
}

#class {
  
}

#subject {
    
 
}




/* Footer
-----------------------------------------------------------------------------*/
footer {
    
    height: auto;
    background: #5CABAC;
}

a {
    color: #F0F0F1;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    padding: 2%;
}

#weblink {
     justify-content: center;
}

/* Devices___________________________________________________________________*/

@media only screen and (min-width: 1000px) {
    header {
        background-color: ;
    }
}
